<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GMSApiKey</key>
	<string>AIzaSyAbiceuS7oChS1ojh51MyLq-d4mmx0Wv5g</string>
	<key>GoogleMapsApiKey</key>
	<string>AIzaSyAbiceuS7oChS1ojh51MyLq-d4mmx0Wv5g</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription </key>
	<string>GeoGuard needs your location to monitor geofences and provide location-based alerts even when the app is in the background.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
